@charset "UTF-8";

@mixin for-flex-just-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin for-flex-just-between-start {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
@mixin for-flex-center {
    display: flex;
    align-items: center;
}
@mixin for-flex-inline-center {
    display: inline-flex;
    align-items: center;
}
@mixin for-flex-start {
    display: flex;
    align-items: flex-start;
}
@mixin for-flex-just-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin for-flex-inline-just-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@mixin for-flex-just-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin for-flex-column-start {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
@mixin for-scrollbar {
    &::-webkit-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }
    &::-ms-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }
    &::-ms-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }
    &::-o-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }    
    &::-moz-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }    
    &::-webkit-scrollbar-track {
        background: rgba(230, 234, 238, 0.24);   /* цвет дорожки */
        border-radius: 5px;     
    }
    &::-moz-scrollbar-track {
        background: rgba(230, 234, 238, 0.24);   /* цвет дорожки */
        border-radius: 5px;     
    }
    &::-o-scrollbar-track {
        background: rgba(230, 234, 238, 0.24);   /* цвет дорожки */
        border-radius: 5px;     
    }
    &::-ms-scrollbar-track {
        background: rgba(230, 234, 238, 0.24);   /* цвет дорожки */
        border-radius: 5px;     
    }
    &::-webkit-scrollbar-thumb {
        background: #E6EAEE;  /* цвет плашки */
        border-radius: 5px;  /* закругления плашки */
        border: 1px solid #E6EAEE;  /* padding вокруг плашки */
    }
    &::-moz-scrollbar-thumb {
        background: #E6EAEE;  /* цвет плашки */
        border-radius: 5px;  /* закругления плашки */
        border: 1px solid #E6EAEE;  /* padding вокруг плашки */
    }
    &::-o-scrollbar-thumb {
        background: #E6EAEE;  /* цвет плашки */
        border-radius: 5px;  /* закругления плашки */
        border: 1px solid #E6EAEE;  /* padding вокруг плашки */
    }
    &::-ms-scrollbar-thumb {
        background: #E6EAEE;  /* цвет плашки */
        border-radius: 5px;  /* закругления плашки */
        border: 1px solid #E6EAEE;  /* padding вокруг плашки */
    }
}

/* ANCHOR Спецификация */
:root {
  --color-0: #E3FE75;
  --color-1: #333333;
  --color-2: #FAFDE8;
  --color-3: #F8F9FA;
  --color-4: #8FCC00;
  --color-5: #E6EAEE;
  --color-6: #2A2A2A;
  --color-7: #F3F5F7;
  --color-8: #858585;
  --color-9: #22BB62;
  --color-10:#FF9E0D;
  --color-11:#FB5353;
  --color-12: #ECF9F1;
  --color-13:#FFF5E5;
  --color-14:#FFE5EA;

  --fontfamily-main: "Manrope", sans-serif;

  --fontsize-main: 17px;

  --radius-1: 12px;
  --radius-2: 10px;
  --radius-3: 8px;
  --radius-4: 6px;
}

html, body, div, p, a, span, ul, ol, li, main, header, footer, section, h1, h2, h3, h4, h5, h6, input, textarea, button, form, section, main, header, footer, nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include for-scrollbar;
}

body {
  font-family: var(--fontfamily-main);
  color: var(--color-1);
  font-size: 17px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-1);
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}
/*ANCHOR  Флексы шаблона */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wrap {
    position: relative;
}
/*ANCHOR  Основные стили */
.main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*ANCHOR  Элементы и стили */
/*ANCHOR -- Контактов*/
.contacts {
    &_link {
        padding: 0 0 0 15px;
        @include for-flex-center;
        img {
            margin-right: 10px;
        }
    }
}
/*ANCHOR -- Хлебных крошек*/
.breadcrumbs {
    span {
        margin: 0 6px;
    }
}
/*ANCHOR -- Попап блок*/
.wrap {
    &_popupblock {
        position: relative;
        &.active {
            .popupblock {
                display: flex;
            }
        }
        .popupblock {            
            a {
                @include for-flex-center;
                width: 100%;
                font-weight: 600;
                padding: 16px;
                border-radius: var(--radius-1);
                img {
                    margin-right: 10px;
                }
                &:hover {
                    background: var(--color-3);
                }
            }
        }
    }
}
.popupblock {
    display: none;
    position: absolute;
    top: 110%;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgb(9 60 102 / 10%);
    border-radius: 8px;
    min-width: 290px;
    right: 0;
    max-width: 375px;
    width: 100%;
    padding: 8px;
}
/*ANCHOR -- Кнопок*/
.btn {
    background: transparent;
    border: 0;
    outline: none;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 10px;
    border: 1px solid var(--color-4);
    border-radius: var(--radius-2);
    margin-top: 10px;
    cursor: pointer;

    &_light {
        font-size: 15px;
        &:hover {
            background: var(--color-2);
        }
    }
}
/*ANCHOR -- Форм*/
label {
    @include for-flex-just-center;
    height: 42px;
    border-radius: var(--radius-1);
    border: 1px solid var(--color-5);
    input {
        font-weight: 500;
        outline: none;
        border: 1px solid transparent;
        width: 100%;
    }
}
/*ANCHOR -- Уведомления*/
.notif {
    ~ .popupblock {
        max-height: 700px;
        overflow: hidden;
        width: 375px;
        a {
            display: inline-block;
            padding: 0;
            height: auto;
            width: auto;
            margin: 0;
            color: var(--color-4);
            &:hover {
                background: transparent;
            }
        }
    }
    &_top {
        @include for-flex-just-between-start;
        width: 100%;

        &_title {
            font-weight: 600;

            &__nobody {
                font-size: 15px;
                font-weight: 500;
                color: var(--color-8);
            }
        }
        &_more {
            font-weight: 600;
            font-size: 15px;
        }
    }
    &_list {
        height: 100%;
        overflow: auto;
        &_item {
            @include for-flex-just-between-start;
        }
        &_block {
            font-size: 13px;
            &_top {
                @include for-flex-just-between;
                width: 100%;
                color: var(--color-8);
            }
            &_body {
                &__title {
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }
        &_icon {
            @include for-flex-just-center;
            width: 44px;
            height: 44px;
            border-radius: var(--radius-3);
            background: var(--color-3);
        }
    }
}
/*ANCHOR  Компонентные блоки */
/*ANCHOR -- Фильтры*/
.filter {
    margin-bottom: 17px;
    &_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    &_form {
        @include for-flex-start;
        .label {
            position: relative;  
            max-width: 238px;
            margin-right: 15px;
            .input {
                font-size: 17px;
                padding-left: 43px;     
                padding-top: 3px;     
            }
            &.search::before {
                content: '';
                background: url(../img/icons/search.svg) no-repeat 50% 50% / contain;
                display: block;
                height: 21px;
                width: 21px;
                position: absolute;
                left: 10px;
                top: 0;
                bottom: 0;
                transform: translate(0, 50%);
            }
        }
    }
}
/*ANCHOR -- Таблица*/
.table {
    min-width: 1535px;

    &_section {
        @include for-flex-column-start;
        flex: 1;
    }
    &_head {
        .tr {        
            @include for-flex-center;
            background: var(--color-2);
            border-radius: var(--radius-1);
            padding: 16px;
            font-size: var(--fontsize-main);
            font-weight: 600;
            color: var(--color-1);
        }
    }
    &_body {
        max-height: 380px;
        overflow: auto;
        .tr {
            @include for-flex-start;
            padding: 16px;
            font-weight: 500;
            font-size: 15px;
            color: var(--color-6);
            .td {
                @include for-flex-column-start;
                &.nobody {
                    padding: 8px;
                    border-radius: var(--radius-3);
                    text-align: center;
                    background: var(--color-3);
                    width: 100%;
                }
                span {
                    display: inline-block;
                    padding: 0 10px;
                    height: 28px;
                    font-size: 13px;
                    font-weight: 600;
                    &.bank {
                        @include for-flex-inline-center;
                        border-radius: var(--radius-4);
                        background: var(--color-7);
                        img {
                            margin-right: 3px;
                        }
                    }
                    &.bet {
                        font-size: 15px;
                        padding: 0;
                    }
                    &.info {
                        padding: 0;
                        margin: 0;
                        font-size: 15px;
                        font-weight: 500;
                        color: var(--color-8);
                    }
                    &.status {
                        @include for-flex-just-center;
                        border-radius: var(--radius-4);
                        &.open {
                            background: var(--color-12);
                            color: var(--color-9);
                        }
                        &.wait {
                            background: var(--color-13);
                            color: var(--color-10);
                        }
                        &.reject {
                            background: var(--color-14);
                            color: var(--color-11);
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 6px;
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--color-5);
            }
        }
    } 
    &_app {
        .td:nth-child(1) {
            width: 160px;
        }
        .td:nth-child(2) {
            width: 12%;
            padding-right: 90px;
        }
        .td:nth-child(3) {
            width: 10%;
        }
        .td:nth-child(4) {
            width: 12%;
        }
        .td:nth-child(5) {
            width: 13%;
        }
        .td:nth-child(6) {
            width: 12%;
        }
        .td:nth-child(7) {
            width: 13%;
        }
        .td:nth-child(8) {
            width: 11%;
        }
        .td:nth-child(9) {
            width: auto;
        }
    }
    /*ANCHOR ---- Пагинация*/
    &_pagi {
        @include for-flex-just-between;
        width: 100%;
        margin-top: auto;
        position: relative;
        padding-left: 18px;
        &_links {
            @include for-flex-just-center;
            margin: -4px;
            position: absolute;
            left: 0;
            right: 0;
        }
        &_link {
            @include for-flex-just-center;
            height: 44px;
            width: 44px;
            border-radius: var(--radius-3);
            border: 1px solid var(--color-5);
            font-weight: 600;
            &.active {
                border-color: var(--color-4);
            }
        }
        a {
            &:hover {
                background-color: var(--color-2);
                border-color: var(--color-2);
            }
        }
        li {
            padding: 4px;           
        }
    }
}
/* ANCHOR Сайдбар он же header */
.header {
    @include for-flex-column-start;
    max-width: 316px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100vh;
    background: var(--color-0);
    padding: 32px 15px 50px 25px;
    &_top {      
        padding: 0 0 25px 15px;
        border-bottom: 1px solid rgb(51 51 51 / 16%);   
        margin-bottom: 40px;
        width: 100%;
        &_nav {               
            display: none;
        }
    }
    &_nav {   
        height: 100%;
        overflow: auto;
        li {
            margin-bottom: 12px;
            &.active,
            &:hover {
                a {
                    background: #fff;
                }
            }
            a {
                @include for-flex-center;
                padding: 16px 15px;
                border-radius: var(--radius-1);                
                font: {
                    size: 17px;
                    weight: 400;
                }
                img {
                    margin-right: 10px;
                }
            }
        }          
    }
    .contacts {
        @include for-flex-column-start;
        margin-top: auto;
        width: 100%;
        &_link {
            padding: 16px 15px;
            width: 100%;
            border-radius: 12px;
            &:not(:first-child) {
                margin-top: 2px;
            }
            &:hover {    
                background: rgb(255 255 255 / 32%);
            }
        }
    }
}
.body {
    @include for-flex-column-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
    padding: 35px 40px 50px 28px;
    // ANCHOR Топ в теле страницы
    &_top {
        @include for-flex-just-between-start;
        width: 100%;
        margin-bottom: 21px;
        &_title {
            margin-top: 5px;
        }
        &_nav {
            @include for-flex-center;
            margin-top: 8px;
            span {
                @include for-flex-just-center;
                background: var(--color-2);
                height: 48px;
                min-width: 48px;
                border-radius: var(--radius-1);
                padding: 0 12px;
                cursor: pointer;
                &.cabinet {
                    margin-left: 5px;
                    position: relative;
                    .name {
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 20px;
                        color: #595959;
                        padding: 0 30px 0 13px;
                    }
                    .arrow {
                        transition: all .3s ease;
                        position: absolute;
                        top: 20px;
                        right: 11px;
                        display: flex;
                    }
                    &.active {
                        .popupblock {
                            @include for-flex-column-start;
                        }
                        .arrow {
                            transform: rotate(-180deg);
                        }
                    }
                }
                &.active {
                    ~ .popupblock {
                        @include for-flex-column-start;
                    }
                }
            }
            
        }
    }
    // ANCHOR Карточки создания счета и бизнеса
    &_nav {
        @include for-flex-start;
        margin-bottom: 37px;
        &_item {
            @include for-flex-start;
            padding: 11px 20px 11px 11px;
            border-radius: var(--radius-1);
            border: 1px solid var(--color-5);
            font-weight: 600;    
            &:not(:last-child) {
                margin-right: 23px;
            }
            &__icon {
                @include for-flex-just-center;
                height: 50px;
                width: 50px;
                border-radius: var(--radius-1);
                background: var(--color-3);
                margin-right: 10px;
            }
            &__info {
                @include for-flex-column-start;
            }
        }
    }
}