* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-span: #8BC503;
    --color-btn: #E3FE75;
    --color-btn-border: #8FCC00;
    --color-burger: #292D32;

    --radius-1: 12px;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #333333;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
}
ul,ol {
    list-style: none;
}
/*Тайтлы, описание секций*/
.main_title {
    font-size: 55px;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}
.main_title span {
    color: var(--color-span);
    display: block;
}
.section_desc {
    font-size: 17px;
    line-height: 24px;
}
.section_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hidden {
    overflow: hidden;
}
/*Кнопки*/
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-1);
    height: 48px;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    padding: 0 20px;
    border: 1px solid var(--color-btn-border);
}
.btn:hover {
    background: var(--color-btn);
    border-color: var(--color-btn);
}
/*Меню*/
.burger {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.burger span {
    width: 24px;
    height: 2px;
    border-radius: 50px;
    display: block;
    background: var(--color-burger);
}
.burger span:not(:last-child) {
    margin-bottom: 5px;
}
/*HEADER*/
.header {
    height: 100vh;
    padding: 228px 0 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header_top {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 5em;
}
.header .section_desc {
    text-align: center;
    margin: 20px 0 28px;
}
.header_buttons {
    display: flex;
}
.header_buttons .btn:not(:last-child) {
    margin-right: 20px;
}
.header_top_nav  {
    margin: 0 70px 0 auto;
}
.header_top_nav ul {
    display: flex;
    align-items: center;
}
.header_top_nav ul li:not(:last-child) {
    margin-right: 35px;
}
.header_top_nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #858585;
    text-decoration: none;
}
/*PRODUCTS*/
.products {
}
.products_wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 0 12vw;
}
.products_item {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.products_item_image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}
.products_left {
    width: 100%;
    position: relative;
}
.products_right {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    margin-left: auto;
}
.products_left .section_desc {
    margin-bottom: 36px;
}
.products_left .section_title {
    margin-bottom: 20px;
}
.products_left .btn {

}
.products_item_image .image {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    cursor: none;
    background-position: 50%;
    background-size: 464px 464px;
    background-repeat: no-repeat;
    background-size: cover;
}

.products_item_image .image:nth-child(1) {
    background-image: url(../img/product1.jpg);
    z-index: 4;
    background-position: 0px 0;
    clip-path: inset(0px 0px 0%);
}
.products_item_image .image:nth-child(2) {
    background-image: url(../img/product2.jpg);
    z-index: 3; 
    background-position: 0px 0; 
    clip-path: inset(0px 0px 0%);
}
.products_item_image .image:nth-child(3) {
    background-image: url(../img/product3.jpg);
    z-index: 2;
    background-position: 0px 0;
    clip-path: inset(0px 0px 0%);
}
.products_item_image .image:nth-child(4) {
    background-image: url(../img/product4.jpg);
    z-index: 1;
    background-position: 0px 0;
    clip-path: inset(0px 0px 0%);
}
/*OFFERS*/
/* .offer_wrap {
    overflow: hidden;
} */
.offer {
    padding: 70px 0 45vh;
}
.offer.fixed {
    position: fixed;
    top: 0;
}
.offer .section_title {
    margin-bottom: 75px;
    padding-left: 80px;
}
.offer_list {
    display: flex;
    width: 2800px;
    padding-left: 20vw;
    /* transition: all .5s ease; */
}
.offer_item {
    background: #EEEFF1;
    border-radius: 32px;
    overflow: hidden;
    width: 275px;
    height: 260px;
    padding: 24px;
    margin-right: 32px;
    position: relative;
    cursor: pointer;
}
.offer_item:hover {
    background: #E3FE75;
}
.offer_item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.offer_item__desc {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.offer_item__arrow {
    background: #595959;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.offer_wrap {
    display: flex;
}
.offer {
    height: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.lineHeight {
    height: 1600px;
    background: #000;
}
/*PRIVILEGE*/
.privilege {
    background: #EEEFF1;
    padding: 70px 80px 110px;
    overflow: hidden;
}
.privilege .section_title  {
    text-align: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 50px;
}
.privilege_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.privilege_item {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    background: #FFFFFF;
    border-radius: 16px;
    width: 24%;
    padding:  20px 45px 20px 20px;
    margin-bottom: 24px;

}
.privilege_item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
}

/*PARTNERS*/
.partners {
    padding: 70px 0 110px;
    overflow: hidden;
}
.partners .section_title  {
    text-align: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 50px;
}
.partners_item {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    padding: 10px 32px 10px 10px;
    background: rgba(238, 239, 241, 0.7);
    border-radius: 50px;
    margin: 0 16px 24px;
}
.partners_item img {
    margin-right: 10px;
}
.partners_list {
    display: flex;
    width: 30000px;
}

/* PARALAX */
.frames_section {
    display: flex;
    align-items: flex-start;
}
.lineHeightFrames {
    height: 2400px; 
}
.frames {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frames img {
    position: absolute;
    bottom: -100%;
    /* top: 98%; */
    /* transition: all .3s linear; */
    /* transform: scale(1.5); */
    left: 0;
    right: 0;
    margin: 0 auto;
}
.frame {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    opacity: 0;
    width: 0;
    text-align: center;
    max-width: 680px;
    height: 100%;
    position: relative;
}
.frame.show {
    opacity: 1;
    width: 100%;
    transition: opacity .3s linear;
}
.frame .main_title {
    display: flex;
}
.frame .main_title span {
    margin-right: 15px;
}

.frame_text {
    opacity: 0;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.frame_desc_top {
    position: absolute;
    top: 10%;
    opacity: 0;
    width: 0;
}
.frame_desc_bottom {
    position: absolute;
    bottom: 10%;
    opacity: 0;
    width: 0;
}
.frame_desc_bottom,
.frame_desc_top {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.24);
}
.frame.show .frame_text {
    opacity: 1;
    width: 100%;
    transition: opacity .3s linear;
}
.frame.show_top .frame_desc_top {
    opacity: 1;
    width: 100%;
    transition: opacity .3s linear;
}
.frame.show_bottom .frame_desc_bottom {
    opacity: 1;
    width: 100%;
    transition: opacity .3s linear;
}

.forms_section {
    padding: 40px;
    display: flex;
    justify-content: center;
}
.form_block {
    position: relative;
    max-width: 610px;
    width: 100%;
}
.round_figure {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: #EEEFF1;
}
.forms_wrap {
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0;
    padding: 110px 0 0;
    left: -15px;
}
.forms_desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.forms_wrap .btn {
    cursor: pointer;
    max-width: 235px;
    margin-left: auto;
    margin-right: 120px;
    margin-top: 70px;
    background: #E3FE75;
    border-color: #E3FE75;
    position: relative;
}
.forms_wrap .btn::before {
    content: url(../img/icons/arrow.svg);
    display: block;
    position: absolute;
    top: -40px;
    right: 124%;
}

/*FOOTER*/
.footer {
    padding: 2.5em 5em;
    background: #F8F9FA;
    font-size: 16px;
    line-height: 24px;
}
.footer_menu {
    display: flex;
    margin-bottom: 55px;
}
.footer_menu_col:not(:last-child) {
    margin-right: 180px;
}
.footer a {    
    color: #333333;
    text-decoration: none;
}
.footer_menu_col__title {
    font-weight: 700;
    margin-bottom: 10px;
}
.footer_menu_col_list a {
    font-weight: 500;
}
.footer_menu_col_list a:not(:last-child) {
    margin-bottom: 10px;
}
.footer_contacts_worktimes {
    font-weight: 400;
    margin: 5px 0 15px;
}
.footer_contacts__phone {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 3px;
    display: inline-block;
}
.footer_menu_col_list {
    display: flex;
    flex-direction: column;
}
.footer_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer_contacts_social a:not(:last-child) {
    margin-right: 10px;
}
.footer_contacts {
    padding-bottom: 25px;
}
.footer_bottom {
    border-top: 1px solid #C4C4C4;
    padding: 30px 0;
}
.footer_bottom a {
    position: relative;
    padding-left: 31px;
}
.footer_bottom a::before {
    content: '.';   
    font-size: 33px;
    line-height: 0em;
    position: absolute;
    left: 10px;
    top: 3px;
}